# Line endings
* text=auto

# Text
*.md text diff=markdown
*.txt text
*.py text diff=python
*.yaml text
*.yml text
*.sh text eol=lf

# Binaries (no Git LFS)
*.jpg binary
*.jpeg binary
*.JPG binary
*.png binary
*.gif binary
*.webp binary
*.pt binary
*.pth binary
*.ckpt binary
*.h5 binary
*.onnx binary
*.mp4 binary
*.avi binary
*.json binary
